html , body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Tarjeta 1 */
.tarjeta1 {
    background-color: hsla(226, 100%, 8%, 1);
    width: 500px;
    height: 420px;
    margin: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.yellow {
    width: 450px;
    height: 250px;
    border-radius: 9px;
    background-color:  rgb(250, 219, 1);;
}

.puntosArriba {
    display: flex;
    padding-right: 16px;
}
.arriba{
    width: 30px; 
    margin-left: auto;
}

.contenido {
    width: 450px;
    height: 180px;
    display: flex;
    justify-content: flex-end;
    padding-left: 18px;
}

.textos {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textos h1 {
    margin: 0;
    padding-top: 10px;
}
.textos p {
    font-size: 15px;
    margin: 0;
}

.contenido .imagen {
    padding-right: 24px;
}

.puntosAbajo {
    display: flex;
    padding-left: 16px;
}
.abajo{
    width: 30px; 
    margin-right: auto;
}

.azul {
    width: 450px;
    height: 250px;
    padding-top: 16px;
}

.azul p {
    margin: 0;
}
.paragraph {
    font-size: 28px;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

.batsou {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 12px;
}

.read {
    color: gray;
    font-family: sans-serif;
    padding-top: 4px;
}

/* Tarjeta 2 */
.tarjeta2 {
    background-color: hsla(135, 0%, 81%, 1);
    width: 380px;
    height: 480px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 20px;
}

.marco {
    width: 380px;
    height: 480px;
    background-color: white;
    border-radius: 9px;
    padding-top: 4px;
 
}

/*--------INICIO GRUPO1-----------*/
.person1 {
    width: 380px;
    height: 160px;
    display: flex;
}

hr {
    margin: 0;
    margin-bottom: 4px;
}

/*HERMANOS*/
.header1 {
    width: 250px;
    height: 160px;
}

.textoHeader1 {
    padding-left: 10px;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.footer {
    width: 250px;
    height: 50px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    padding-left: 10px;
}

.footer p {
    margin: 0;
    color: gray;
}

.txt1 {
    text-transform: uppercase;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.txt2 {
    font-family: sans-serif;
    font-size: small;
}

.encabezado {
    width: 250px;
    height: 30px;
    display: flex;
    padding-left: 12px;
    align-items: center;
}

.encabezado img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.encabezado p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: hsla(211, 100%, 50%, 1);
    padding-left: 16px;
}

.imagen1{
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*HERMANOS*/

.monumento {
    width: 100px;
    height: 100px;
    border-radius: 9px;
}

/*--------FIN GRUPO1-----------*/

/*--------INICIO GRUPO2-----------*/
.person2 {
    width: 380px;
    height: 160px;
    display: flex;
}

/*HERMANOS*/
.header2 {
    width: 250px;
    height: 160px;
}

.textoHeader2{
    padding-left: 10px;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.footer2 {
    width: 250px;
    height: 50px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    padding-left: 10px;
}

.footer2 p {
    margin: 0;
    color: gray;
}

.txt3 {
    text-transform: uppercase;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.txt4 {
    font-family: sans-serif;
    font-size: small;
}


.encabezado2 {
    width: 250px;
    height: 30px;
    display: flex;
    padding-left: 12px;
    align-items: center;
}

.encabezado2 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.encabezado2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: hsla(211, 100%, 50%, 1);
    padding-left: 16px;
}

.imagen2{
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*HERMANOS*/

.monedas {
    width: 100px;
    height: 100px;
    border-radius: 9px;
}

/*--------FIN GRUPO2-----------*/


/*--------INICIO GRUPO3-----------*/
.person3 {
    width: 380px;
    height: 160px;
    display: flex;
}

/*HERMANOS*/
.header3 {
    width: 250px;
    height: 160px;
}

.textoHeader3 {
    padding-left: 10px;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.footer3 {
    width: 250px;
    height: 50px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    padding-left: 10px;
}

.footer3 p {
    margin: 0;
    color: gray;
}

.txt5 {
    text-transform: uppercase;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.txt6 {
    font-family: sans-serif;
    font-size: small;
}


.encabezado3 {
    width: 250px;
    height: 30px;
    display: flex;
    padding-left: 12px;
    align-items: center;
}

.encabezado3 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.encabezado3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    color: hsla(211, 100%, 50%, 1);
    padding-left: 16px;
}

.imagen3{
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*HERMANOS*/

.celular {
    width: 100px;
    height: 100px;
    border-radius: 9px;
}

/*--------FIN GRUPO3-----------*/

/* Tarjeta 3 */
.tarjeta3 {
    background-color: hsla(135, 0%, 81%, 1);
    width: 600px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 10px;
}

.marco2 {
    width: 600px;
    height: 200px;
    background-color: white;
    border-radius: 9px;
    display: flex;
}

.perfil {
    width: 80px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

.content {
    width: 520px;
    height: 200px;
}

.header {
    width: 520px;
    height: 50px;
    margin-top: 20px;
}

.header p {
    margin: 0; 
    font-family: sans-serif;   
}

.p1 {
    font-weight: bold;
    font-size: 14px;
}

.p2 {
    color: gray;
    font-size: small;   
}

.p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
}

.p4 {
    color: gray;
    word-spacing: 20px;
    font-family: sans-serif;
    font-size: 15px;
}

.p5 {
    color: gray;
    display: inline-block;
    margin: 0;
    font-family: sans-serif;

}

.p6 {
    color: gray;
    display: inline-block;
    margin: 0;
    font-family: sans-serif;
    padding-left: 20px;
}

.p7 {
    color: gray;
    display: inline-block;
    margin: 0;
    padding-left: 160px;
    font-size: 14px;
    font-family: sans-serif;
}
